body {
    font-family: sans-serif;
    background-color:white;
}

.topbar_info {
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.topbar_info_left {
    float: left;

}

.topbar_info_right {
    float: right;
}


.img {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}

.btn {
    background-color:#e7e6e6;
    border: none;
    font-size: 15px;
    padding: 4px 5px;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.searchbar {
    margin:auto;
    display:block;
    width: 50%;
  
}

.search {
    text-align: center;
}

.searchBtns {
    margin-left: 35%;
    display: block;
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;        
}

.bottom-bar a {
    text-align: center;
    padding: 30px;
}

.bottom-bar-left {
    float: left;
}

.bottom-bar-right {
    float: right;
}

.a {
    text-align: center;
}


